#rest {
   display: none;
}
body {
	font-family: arial;
}
.h4-wrapper {
	margin-top: 1.5em;
	text-align: center;
	display: block;
	/* wrapper height 45px, text height 25px */
	height: 45px;
	line-height: 45px; /* TEST for vertical center */
	background: linear-gradient(indianred, lightcoral);
}
h4 {
	display: inline-block;
	height: 25px;
	margin: 0px 0px;
	color: #eeeeee;
}
.main-col-wrapper {
	background: repeating-radial-gradient(mediumaquamarine, lightseagreen, teal);
	box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: white;
	line-height: 4em;
	border-bottom: none !important;
	margin-top: 3.5em;
	text-align: center;
	font-size: 150%;
}
button {
	/*margin-top: -4em;*/
	padding: 1em 10%;
	border: 2px solid teal;
	border-radius: 10px;
	background-color: lightsegreen;
}
.li-inner {
   border-bottom: 2px solid teal
}
li {
	line-height: 2.5em;
}
ul {
	columns: 2;
	-webkit-columns: 2;
	list-style-type: none;
	padding-left: 20px;
}
.main-col-wrapper > div {
   border-bottom-style: none;
}
#edit {
	margin-left: 8px;
}
